<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Airbnb</title>
    <link rel="stylesheet" href="/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css"
      integrity="sha512-DxV+EoADOkOygM4IR9yXP8Sb2qwgidEmeqAEmDKIOfPRQZOWbXCzLC6vjbZyy0vPisbH2SyW27+ddLVCN+OMzQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <div class="nav">
      <div>
        <h2><i class="fa-regular fa-compass logo"></i></h2>
      </div>

      <div class="navlist">
        <a href="/" class="list">Home</a>
        <a href="/listing" class="list">All Listing</a>
        <a href="/listing/new" class="list">Add Listing</a>
      </div>
    </div>
    <div class="container"><%-body%></div>
    <footer>
      <div class="foot">
        <i class="fa-brands fa-square-instagram"></i>
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-linkedin"></i>
      </div>
      <div class="footname">@Airbnb private limited</div>
      <div class="privacy">Privacy Terms</div>
    </footer>
  </body>
</html>
